<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Sl.No</th>
                <th>ID</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Email</th>
                <th>Book Name</th>
                <th>Issue</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let detail of details; index as i'>
                <td>{{i+1}}</td>
                <td>{{detail.id}}</td>
                <td>{{detail.uid}}</td>
                <td>{{detail.bookId}}</td>
                <td>{{detail.email}}</td>
                <td>{{detail.bookName}}</td>
                <td>
                    <button class="button btn--outline-dark float-right" (click)='bookIssue(detail)'>Issue</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

