<div class="main_content">
<div id="content-wrapper" class="d-flex flex-column mt-5">

    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <div class="container-fluid">

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Book Request Details</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>            <tr>
    <th>Sl.No</th>
    <th>ID</th>
    <th>User Id</th>
    <th>Book Id</th>
    <th>Email</th>
    <th>Book Name</th>
    <th>Issue</th>
</tr>
</thead>
<tbody>
<tr *ngFor='let detail of details; index as i'>
    <td>{{i+1}}</td>
    <td>{{detail.id}}</td>
    <td>{{detail.uid}}</td>
    <td>{{detail.bookId}}</td>
    <td>{{detail.email}}</td>
    <td>{{detail.bookName}}</td>
    <td>
        <button class="button btn--outline-dark float-right" (click)='bookIssue(detail)'>Issue</button>
    </td>
</tr>

</tbody>
</table>
</div>