<div class="main_content">
    <div id="content-wrapper" class="d-flex flex-column mt-5">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <form class="form-inline">
                        <div class="styling" style="color: navy;"> 
                        <h6 class="m-0 font-weight-bold text-primary">All Books</h6>
                    </div>
                        <div class="input-group ml-auto">
                            <input type="search" name="search" [(ngModel)]='search' class="form-control"
                                class="form-control bg-light border-20 small" placeholder="Search here for Book">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SL.No</th>
                                        <th>Book Id</th>
                                        <th>Book Name</th>
                                        <th>Author Name</th>
                                        <th>Book Category</th>
                                        <th>Publisher Name</th>

                                        <th>Copies</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let books of book | filter: search ; index as i'>
                                        <td>{{i + 1}}</td>
                                        <td>{{books.bookId}}</td>
                                        <td>{{books.bookName}}</td>
                                        <td>{{books.authorName}}</td>
                                        <td>{{books.bookCategory}}</td>
                                        <td>{{books.publisherName}}</td>
                                        <td>{{books.copies}}</td>
                                        <td>
                                            <button class="button btn--outline-primary" (click)='selectBook(books)'>
                                                Update
                                            </button>
                                        </td>
                                        <td>
                                            <button class="button btn--outline-dark float-right"
                                                (click)='deleteBook(books.bookId)'>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>