<div class="col-md mt-2" >
<div class="card" style="width: 18rem;">
  <div class="card-body" style="background-color: bisque;">
    <h5 class="card-title">WELCOME TO Library</h5> 
    <ul>
    <li class="nav-item dropdown"  >
      <a class="nav-link dropdown-toggle" routerLink="/admin" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        ADMIN
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/booksInfo">Show Books</a>
        <a class="dropdown-item" routerLink="/showUsers">Show Users</a>
        <a class="dropdown-item" routerLink="/addBook">Add Book</a>
        <a class="dropdown-item" routerLink="/showIssuedBooks">Show Issued Books</a>
        <a class="dropdown-item" routerLink="/showRequests">Show Requests</a>
        <a class="dropdown-item" routerLink="/bookIssue">Book Issue</a>
      </div>
    </li>
  </ul>
  </div>
</div>
</div>