
<div>
    <h2 style="text-align: center;">WELCOME USER</h2>
  </div>
<br>
<table align="center">
    <tr>
        <td>
                <div class="card-body" >
                  <a routerLink="/requestBook" class="btn btn-primary btn-lg btn-block" >Request Book</a>
                </div>
        </td>
        <td>
     <div class="card-body" >
                  <a routerLink="/returnBook" class="btn btn-primary btn-lg btn-block" >Return Book</a>
                </div>
        </td>
        <td>
                <div class="card-body" >
                  <a routerLink="/borrowedBooks" class="btn btn-primary btn-lg btn-block" >Borrowed Book</a>
                </div>
        </td>
    </tr>
</table>

