.main_content{
  width: 85%;
  margin-left: 200px;
  height: 90vh; 
  position: fixed;
  overflow-y: scroll;
}
  .centered {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  