<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Book Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let borrow of borrows'>
                <td>{{borrow.id}}</td>
                <td>{{borrow.uid}}</td>
                <td>{{borrow.bookId}}</td>
                <td>{{borrow.bookName}}</td>
            </tr>

        </tbody>
    </table>

</div>


